@import 'variables';

* {
  margin: 0;
  padding: 0;
}

body {
  padding: 10px;
  background: $background_color;
  font-family: times, georgia, serif;
  font-size: 16px;
  color: $text_color;
}

form {
  margin-bottom: 20px;

  fieldset {
    border: none;
  }
}

ul {
  list-style-type: none;
}

header {
  padding: 40px 0 20px 0;
  width: 960px;
  margin: 0 auto;

  h1 {
    a {
      font-size: 22px;
      font-weight: normal;
      color: #fff;
      text-decoration: none;
      line-height: 26px;

      span {
        display: block;
        font-size: 18px;
        color: $text_color;
      }
    }
  }
}

.container {
  width: 960px;
  margin: 0 auto;
  padding-bottom: 100px;
  overflow: visible;

  form {
    padding: 30px;
    margin-bottom: 30px;
    border: 1px solid $border_color;

    input {
      background: $secondary_background;
      border: 1px solid $border_color;
      font-family: inherit;
      font-size: 14px;
      padding: 7px;
      color: #fff; 
      width: 25%;

      &[type="submit"] {
        color: $text_color;
        width: 100px;
        background: $background_color;

        &:hover {
          cursor: pointer;
        }
      }
    }

    a.clear {
      color: $link_color;
      margin-left: 3px;
    }
  }

  h2 {
    font-weight: normal;
    font-size: 18px;
    margin-bottom: 15px;

    em {
      color: #fff;
      font-style: normal;
    }
  }

  ul.graphs {
    list-style-type: none;

    li {
      background: $secondary_background;
      height: 40px;
      width: 100%;
      margin-bottom: 10px;
      line-height: 40px;
      position: relative;

      div {
        background: $tertiary_background;
        height: 40px;
        position: absolute;
      }

      p {
        padding-left: 10px;
        color: #fff;
        position: absolute;
      }
    }
  }

  div.graph {
    background: $secondary_background;
    background:url('/images/tile.png');
    position: relative;
    height: 500px;

    ul.bars {
      height: 400px;

      li {
        position: absolute;
        width: 100px;
        background: $tertiary_background;
        bottom: 0;
        color: #fff;
        text-align: center;
        padding-top: 10px;

        &.bar-0 {
          left: 30px;
        }

        &.bar-1 {
          left: 190px;
        }
      }
    }

    ul.labels {
      overflow: hidden;
      height: 40px;
      position: absolute;
      bottom: -40px;
      width: 100%;

      li {
        margin: 10px 0 0 60px;
        color: #fff;
        float: left;
        width: 100px;
        text-align: center;

        &.label-0 {
          margin-left: 30px;
        }
      }
    }

    ul.y-axis {
      width: 100px;
      position: absolute;
      text-align: right;
      left: -100px;
      top: 0;

      li {
        color: #fff;
        padding-right: 10px;
      }
    }
  }
}
