!!! 5
%html
  %head
    %title New York Times Grapher
    %link{:href => "/stylesheets/base.css", :media => "screen", :rel => "stylesheet", :type => "text/css"}
  %body
    %h1 TimesGrapher
    %p= @total
    %form
      %fieldset
        %input{:type => 'text', :name => 'search1', :placeholder => 'Enter a keyword', :value => params[:search1]}
        %input{:type => 'text', :name => 'search2', :placeholder => 'Enter a keyword', :value => params[:search2]}
        %input{:type => 'submit'}
        %a{:href => '/'} clear
    -if params[:search1]
      %ul.graphs
        -@totals.each do |total|
          %li
            %div{:style => "width:#{get_percent(total, @overall_total)}%;"}
              %p= "#{total} articles"
