@import 'variables';

ul.graphs {
  display: none; //temporarily hiding this
  list-style-type: none;

  li {
    background: $secondary_background;
    height: 40px;
    width: 100%;
    margin-bottom: 10px;
    line-height: 40px;
    position: relative;

    div {
      background: $tertiary_background;
      height: 40px;
      position: absolute;
    }

    p {
      padding-left: 10px;
      color: $highlight;
      position: absolute;
    }
  }
}

div.graph {
  background: $secondary_background;
  background:url('/images/dark-tile.png');
  position: relative;
  height: 500px;

  ul.bars {
    height: 400px;

    li {
      position: absolute;
      width: 100px;
      background: $tertiary_background;
      bottom: 0;
      color: $highlight;
      text-align: center;

      &:before {
          content: '';
          width: 35px;
          height: 100%;
          position: absolute;
          top: 25px;
          right: -35px;
          background-color: $secondary_background;
          -webkit-transform: skewY(55deg);
          -webkit-transform-origin: top;

          -moz-transform: skewY(55deg);
          -moz-transform-origin: top;

          -ms-transform: skewY(55deg);
          -ms-transform-origin: top;

          -o-transform: skewY(55deg);
          -o-transform-origin: top;

          transform: skewY(55deg);
          transform-origin: top;
      }

      &.bar-0 {
        left: 30px;
      }

      &.bar-1 {
        left: 190px;
      }

      a {
        height: 100%;
        display: block;
        padding-top: 10px;
      }
    }
  }

  ul.labels {
    background: #000;
    position: absolute;
    bottom: -50px;
    width: 100%;
    min-height: 50px;

    li {
      margin: 10px 0 0 60px;
      color: $highlight;
      float: left;
      width: 100px;
      text-align: center;

      &.label-0 {
        margin-left: 30px;
      }
    }
  }

  ul.y-axis {
    width: 100px;
    position: absolute;
    text-align: right;
    left: -100px;
    top: 0;

    li {
      color: $highlight;
      padding-right: 10px;
      height: 100px;

      &.label-0 {
        height: 93px;
      }
    }
  }
}
