@import 'variables';
@import 'compass';

$close_button_dimensions: 30px;
$modal_width: 650px;

.modal {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: rgba(0,0,0,0.8);
  z-index: 99999;
  opacity: 0;
  @include transition-property(opacity);
  @include transition-duration(400ms);
  @include transition-timing-function(ease-in);
  pointer-events: none;

  &:target {
    opacity: 1;
    pointer-events: auto;
  }

  div.modal-content {
    width: $modal_width;
    height: 80%;
    margin: 5% auto;
    position: relative;

    &.about {
      width: $modal_width/1.5;
      height: 55%;

      div.modal-inner-content {
        width: $modal_width/1.5;
      }
    }

    .close {
      font-family: $secondary_font_family;
      background: $border_color;
      color: $link_color;
      line-height: $close_button_dimensions;
      position: absolute;
      right: -54px;
      top: 0;
      text-align: center;
      width: $close_button_dimensions;
      text-decoration: none;
    }
  }

  div.modal-inner-content {
    height: 100%;
    width: $modal_width;
    padding: 20px;
    border: 7px solid $border_color;
    background: #fff;
    overflow: auto;

    h1 {
      color: #313131;
      font-weight: normal;
      margin-bottom: 20px;
    }

    a {
      color: #313131;
    }

    p {
      color: #313131;
      line-height: 20px;
      font-size: 15px;
      margin-bottom: 15px;
    }

    button {
      background: $border_color;
      display: block;
      margin: 0 auto;
      border: none;
      color: #fff;
      font-size: 18px;
      padding: 10px;
      font-family: $primary_font_family;
      font-weight: normal;

      &:hover {
        cursor: pointer;
      }
    }
  }
}
