.modal {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: rgba(0,0,0,0.8);
  z-index: 99999;
  opacity: 0;
  -webkit-transition: opacity 400ms ease-in;
  -moz-transition: opacity 400ms ease-in;
  transition: opacity 400ms ease-in;
  pointer-events: none;

  &:target {
    opacity: 1;
    pointer-events: auto;
  }

  div {
    width: 650px;
    position: relative;
    margin: 10% auto;
    padding: 20px;
    border: 7px solid #888;
    background: #fff;

    .close {
      font-family: arial, helvetica, sans-serif;
      background: #555;
      color: #fff;
      line-height: 30px;
      position: absolute;
      right: -7px;
      top: -7px;
      text-align: center;
      width: 30px;
      text-decoration: none;
    }
  }
}
