@import 'variables';

* {
  margin: 0;
  padding: 0;
}

body {
  height: 100%;
  padding: 10px 0;
  background: $background_color;
  font-family: $primary_font_family;
  font-size: 16px;
  color: $text_color;

  a {
    color: $link_color;;
  }

  form {
    margin-bottom: 20px;

    fieldset {
      border: none;
    }
  }

  cite, time {
    display: block;
  }

  ul {
    list-style-type: none;
  }
}

.container {
  width: 960px;
  margin: 0 auto;
  overflow: visible;
  padding-bottom: 40px;

  h2 {
    font-weight: normal;
    font-size: 18px;
    margin-bottom: 15px;

    em {
      color: $highlight;
      font-style: normal;
    }
  }
}

.overlay.about {
  color: #313131;
  width: 350px;
  height: 180px;

  p {
    font-size: 14px;
    margin-bottom: 15px;
    line-height: 18px;

    a {
      color: #313131;
    }
  }
}
