$background_color: #000;
$secondary_background: #2B2B2B;
$tertiary_background: #5c5c5c;
$border_color: #414141;

$primary_font_family: georgia, "times new roman", serif;
$secondary_font_family: helvetica, arial, sans-serif;

$text_color: #999;
$secondary_text_color: #ccc;
$link_color: #fff;
$highlight: #fff;
