---
http_interactions:
- request:
    method: get
    uri: http://api.nytimes.com/svc/search/v2/articlesearch.json?api-key=API_KEY&begin_date=20130101&end_date=20131231&facet_field=day_of_week&fq=bush&page=0
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Mashery-Responder:
      - prod-p-worker-atl-03.mashery.com
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"response":{"meta":{"hits":3930,"time":2701,"offset":0},"docs":[{"web_url":"http:\/\/www.nytimes.com\/2013\/12\/31\/arts\/music\/albums-from-moon-honey-peter-walker-and-angola-soundtrack.html","snippet":"The
        latest Angola Soundtrack compilation and music from Moon Honey and Peter Walker
        are available.","lead_paragraph":"The latest Angola Soundtrack compilation
        and music from Moon Honey and Peter Walker are available.","abstract":"Jon
        Pareles reviews Moon Honey album, Hand-Painted Dream Photographs and Angola
        Soundtrack 2: Hypnosis, Distortions and Other Sonic Innovations 1969-1978
        compilation; Ben Ratliff reviews Has Anybody Seen Our Freedoms? recording
        from Peter Walker.","print_page":"6","blog":[],"source":"The New York Times","multimedia":[{"width":190,"url":"images\/2013\/12\/31\/arts\/31NEWMUSIC1\/31NEWMUSIC1-thumbWide.jpg","height":126,"subtype":"wide","legacy":{"wide":"images\/2013\/12\/31\/arts\/31NEWMUSIC1\/31NEWMUSIC1-thumbWide.jpg","wideheight":"126","widewidth":"190"},"type":"image"},{"width":75,"url":"images\/2013\/12\/31\/arts\/31NEWMUSIC2\/31NEWMUSIC2-thumbStandard.jpg","height":75,"subtype":"thumbnail","legacy":{"thumbnailheight":"75","thumbnail":"images\/2013\/12\/31\/arts\/31NEWMUSIC2\/31NEWMUSIC2-thumbStandard.jpg","thumbnailwidth":"75"},"type":"image"}],"headline":{"main":"Albums
        From Moon Honey, Peter Walker and Angola Soundtrack","content_kicker":"New
        Music","kicker":"New Music"},"keywords":[{"rank":"3","is_major":"N","name":"persons","value":"Walker,
        Peter (1937- )"},{"rank":"1","is_major":"Y","name":"subject","value":"Music"},{"rank":"2","is_major":"N","name":"organizations","value":"Moon
        Honey (Music Group)"}],"pub_date":"2013-12-31T00:00:00Z","document_type":"article","news_desk":"Culture","section_name":"Arts","subsection_name":"Music","byline":{"contributor":"","person":[{"organization":"","role":"reported","firstname":"Jon","rank":1,"lastname":"PARELES"},{"organization":"","role":"reported","firstname":"Ben","rank":2,"lastname":"RATLIFF"}],"original":"By
        JON PARELES and BEN RATLIFF"},"type_of_material":"Review","_id":"52c1f0e238f0d829ddebdf24","word_count":"1085"},{"web_url":"http:\/\/www.nytimes.com\/aponline\/2013\/12\/30\/us\/ap-us-texas-republicans-big-donors.html","snippet":"The
        deaths this year of three major Texas Republican donors, including a billionaire
        who died over the weekend, could signal a generational change for party kingmakers
        in the nation''s largest GOP stronghold.","lead_paragraph":"The deaths this
        year of three major Texas Republican donors, including a billionaire who died
        over the weekend, could signal a generational change for party kingmakers
        in the nation''s largest GOP stronghold.","abstract":null,"print_page":null,"blog":[],"source":"AP","multimedia":[],"headline":{"main":"Texas
        Republicans Lose 3 Major Donors in 2013","print_headline":"Texas Republicans
        Lose 3 Major Donors in 2013"},"keywords":[],"pub_date":"2013-12-30T16:45:17Z","document_type":"article","news_desk":"None","section_name":"U.S.","subsection_name":null,"byline":{"person":[],"original":"By
        THE ASSOCIATED PRESS","organization":"THE ASSOCIATED PRESS"},"type_of_material":"News","_id":"52c1ea3438f0d829ddebdf16","word_count":"830"},{"web_url":"http:\/\/www.nytimes.com\/roomfordebate\/2013\/12\/30\/mayor-of-new-york-and-then-what\/","snippet":"Serving[...]
